body {
    background: #f8f8b7 url(../imgs/background.jpg);
}

#container {
    font: 1.1em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    border: 1px solid #c4c4c4;
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* Página "index.html" */

/* Cabeçalho */

#cabecalho {
    background-color: #dd4c4c;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#logo h1 {
    color: #f7f7ad;
    font-size: 70px;
    margin-top: 5px;
}

#menu-cabecalho {
    font-size: 18px;
    padding-bottom: 20px;
}

#menu-cabecalho li {
    display: inline;
    margin: 0px 20px 0px 20px;
}

#menu-cabecalho a {
    color: #f7f7ad;
    padding: 7px 9px 8px 9px;
    border-radius: 3px;
    transition: background-color .3s;
}

#menu-cabecalho a:hover {
    background-color: #f7f7ad;
    color: #dd4c4c;
}

#menu-cabecalho a.atual {
    background-color: #f7f7ad;
    color: #dd4c4c;
}

/* conteúdos */

/* largura total da caixa dos conteúdos: 1584px */

.conteudos {
    width: 85%; /* 1584px --> 85% */
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 8px 15px 5px #0000006e;
    border: 1px solid #d3d3d3;
}

/* conteúdo principal (geral) */

/* largura total = 1225px */

#cont-principal {
    padding: 0px 40px 0px 20px;
    width: 73.54%; /* 1165px --> 73.54% */
    text-align: justify;
    border-right: 2px solid #d3d3d3;
    float: left;
}

/* Formatação para os títulos dos conteúdos */

.conteudos-titulo {
    background-color: #dd4c4c;
    color: #f7f7ad;
    border-radius: 8px;
    margin: auto;
}

.conteudos-titulo h2 {
    text-align: center;
    text-transform: uppercase;
}

/* Título do conteúdo principal */

#cont-princ-titulo {
    width: 350px;
    margin-top: 35px;
}

#cont-princ-titulo h2 {
    font-size: 28px;
    padding: 5px 0px 7px 0px;
}

#cont-principal a {
    color: #b34040;
    font-size: 14px;
}

#cont-principal a:hover {
    text-decoration: underline;
}

/* conteúdo principal esquerdo */

.cont-principal-esq {
    float: left;
}

/* conteúdo principal direito */

.cont-principal-dir {
    float: right;
}

/* Ambos */

.cont-principal-esq, .cont-principal-dir {
    width: 48%; /* 522.5px --> 44.84% >> 48% */
    min-width: 280px;
    margin-bottom: 25px;
}

/* conteúdo lateral */

/* largura total = 320px */

#cont-lateral {
    padding: 20px;
    width: 19%; /* 300px --> 25.75% --> ? 19% ? */
    float: right;
}

#cont-lateral-titulo {
    width: 310px;
}

#cont-lat-titulo h2 {
    font-size: 22px;
    padding: 2px 0px 3px 0px;
    margin-top: -8px;
    margin-bottom: 25px;
}

/* Classe para modificar os articles */

.cont-lat-curiosidades {
    margin-bottom: 30px;
}

.cont-lat-curiosidades p {
    font-size: 16px;
    text-align: justify;
}

/* Estilizar links da lateral */

.cont-lat-curiosidades a {
    color: black;
    font-weight: normal;
}

.cont-lat-curiosidades a:hover {
    color: #b34040;
}

.cont-lat-div {
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 25px;
}

#cont-lat-menu {
    margin: 50px auto 0 auto;
}

#cont-lat-menu li {
    margin-bottom: 8%;
    font-size: 13px;
}

#cont-lat-menu a {
    color: #b34040;
    text-transform: uppercase;
}

#cont-lat-menu a:hover {
    text-decoration: underline;
}

/* Rodapé */

#rodape {
    background-color: #b34040;
    color: #f7f7ad;
    margin-top: 50px;
    padding: 1px 0px 1px 0px;
}

#cont-rodape p {
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
}

/* Página "sobre.html" */

/* Título da página */

#sobre-titulo {
    width: 350px;
}

#dobre-titulo h2 {
    font-size: 28px;
    padding: 4px 0px 6px 0px;
}

#cont-sobre p {
    padding: 0px 40px 0px 40px;
    text-align: justify;
    text-indent: 15px;
}

/* Página "contatos.html" */

#contatos-titulo {
    width: 160px;
}

#contatos-titulo h2 {
    font-size: 28px;
    padding: 2px 0px 4px 0px;
}

#contatos-aviso {
    background-color: #f02424;
    width: 280px;
    margin: 30px auto 0 auto;
    border: 1px solid #7e7e7e;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#contatos-aviso h3 {
    color: #f0f072;
    font-size: 22px;
}

#contatos-aviso p {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#conteudos-caixa {
    border: 1px solid #c2c2c2;
    width: 400px;
    margin: 30px auto;
    box-shadow: 0px 10px 20px #00000033;
    border-radius: 10px;
}

#contatos-dados {
    width: 350px;
    margin: 0 auto;
}

#contatos-dados .dados {
    text-transform: uppercase;
    font-weight: bold;
}

#contatos-dados p {
    font-size: 25px;
}