body {
    background-color: #f3f3dd;
}

#container {
    font: 1.1em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* Cabeçalho */

#cabecalho {
    background-color: #dd4c4c;
    color: #f7f7ad;
    text-align: center;
    padding-top: 1px;
    text-transform: uppercase;
}

#cabecalho h1 {
    font-size: 70px;
    margin-top: 5px;
}

#menu-cabecalho {
    font-size: 18px;
    padding-bottom: 20px;
}

#menu-cabecalho li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

#menu-cabecalho a {
    color: #f7f7ad;
    padding: 7px 9px 10px 9px;
    border-radius: 3px;
}

#menu-cabecalho a:hover {
    background-color: #f7f7ad;
    color: #dd4c4c;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#menu-cabecalho a.atual {
    background-color: #f7f7ad;
    color: #dd4c4c;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* conteúdos */

/* largura total da caixa dos conteúdos: 1200px */

#conteudos {
    margin: auto;
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 12px 15px 5px rgba(0, 0, 0, 0.432)
}

/* conteúdo principal (geral) */

/* largura total = 815px */

/* Espaçamento entre o conteúdo principal e lateral = 60px */

#cont-principal {
    padding: 20px;
    width: 795px;
    text-align: justify;
    float: left;
}

#cont-principal img {
    border: 1px solid black;
}

#cont-principal a {
    color: #b34040;
    font-size: 14px;
}

#cont-principal a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
}

/* conteúdo principal esquerdo */

.cont-principal-esq {
    float: left;
}

/* conteúdo principal direito */

.cont-principal-dir {
    float: right;
}

/* Ambos */

.cont-principal-esq, .cont-principal-dir {
    width: 380px;
    margin-bottom: 25px
}

/* conteúdo lateral */

/* largura total = 325px */

/* Espaçamento entre o conteúdo principal e lateral = 60px */

#cont-lateral {
    padding: 20px;
    width: 305px;
    float: right;
}

